<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <center>
            <h1>
                <kbd class="logos">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </kbd> My Profile</h1>
        </center>
        <hr class="style5">
        <h2>
            <kbd class="logos">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
            </kbd> My Orders list</h2>
        {{# each orders }}
        <div class="panel panel-default">
            <div class="panel-heading">
                Payment by
                <span class="label label-success">{{ this.name }}</span>
                <strong class="qty">Total Price:
                    <span class="label label-danger">{{ this.cart.totalPrice }}</span> bath.-</strong>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {{# each this.item }}
                    <li class="list-group-item">
                        <span class="qty">
                            <span class="badge">{{ this.price }}</span> bath.-</span>
                        {{ this.item.title }} |
                        <span class="label label-warning">{{ this.qty }}</span> pieces
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="panel-footer">
                <span>Receipt:
                    <span class="label label-primary">{{ this.paymentId }}</span>
                </span>
            </div>
        </div>
        {{/each}}
        <nav aria-label="..." class="qty">
            <ul class="pagination pagination-sm">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <br>
    </div>
</div>