<div class="row">
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        <div id="success" class="alert alert-success {{# if noMessage}} hidden {{/if}}">
            {{ successMsg }}
        </div>
    </div>
</div>
{{# each products }}
<div class="row">
    {{# each this }}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <p></p>
            <img src="{{ this.imagePath }}" alt="{{ this.imagePath }}">
            <div class="caption">
                <center>
                    <h3>{{ this.title }}</h3>
                </center>
                <p class="description">{{ this.description }}</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        <p></p>
                        <span class="label label-primary">{{ this.price }}</span>
                        <span>bath.-</span>
                    </div>
                    <p></p>
                    <a href="/add-to-cart/{{ this._id }}" class="btn btn-success pull-right btn-sm" role="button">Add to Basket</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}
<nav aria-label="..." class="qty">
    <ul class="pagination pagination-sm">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
<br>